API_PORT=8000
API_HOST=0.0.0.0
ENV=DEV
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
SMTP_USERNAME="example@gmail.com"
SMTP_PASSWORD="password"
CELERY_BACKEND="redis://redis:6379/0"
CELERY_BROKER="redis://redis:6379/0"
